.contacts_section {
    background-image: url('media/contacts_background.png');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 122px 0 140px 0;
}

.contacts_info h2 {
    color: white;
    margin-bottom: 60px;
}

.contacts_info { 
    width: 445px;
}

.contacts_block {
    display: flex;
    justify-content: space-between;
}

.phone_and_mail {
    margin-top: 80px;
    display: flex;
    gap: 100px;
    
}

